In [11]:
from binencode import bin_encoding
import numpy as np
import pandas as pd
import time

In [5]:
df = pd.read_csv('E:\\Data Science\\Datasets\\EatingData\\result_table.csv')

In [12]:
# removing rows with complex id == 4, cause it's not a complex actually

df.drop(np.where(df['CmpxId'] == 4)[0], inplace=True)
df

,EmpId,Date,CmpxId,Dish_11,Dish_12,Dish_13,Dish_14,Dish_15,Dish_16,Dish_21,...,Dish_23,Dish_24,Dish_25,Dish_26,Dish_31,Dish_32,Dish_33,Dish_34,Dish_35,Dish_36
0,9,2019-03-01,2,0,0,41,67,130,152,0,...,0,10,90,144,0,0,0,4,24,152
1,17,2019-03-01,2,0,0,41,67,130,152,0,...,0,10,90,144,0,0,0,4,24,152
2,28,2019-03-01,1,0,0,41,67,130,152,0,...,0,10,90,144,0,0,0,4,24,152
3,33,2019-03-01,2,0,0,41,67,130,152,0,...,0,10,90,144,0,0,0,4,24,152
4,35,2019-03-01,3,0,0,41,67,130,152,0,...,0,10,90,144,0,0,0,4,24,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85285,409,2020-09-18,1,0,0,47,52,167,171,0,...,0,19,54,109,0,0,0,35,145,164
85286,411,2020-09-18,1,0,0,47,52,167,171,0,...,0,19,54,109,0,0,0,35,145,164
85287,412,2020-09-18,3,0,0,47,52,167,171,0,...,0,19,54,109,0,0,0,35,145,164
85288,418,2020-09-18,2,0,0,47,52,167,171,0,...,0,19,54,109,0,0,0,35,145,164
85290,420,2020-09-18,1,0,0,47,52,167,171,0,...,0,19,54,109,0,0,0,35,145,164

In [13]:
depths = [1, 1, 1]
depths += [9 for i in range(18)]

In [22]:
df.reset_index(drop=True, inplace=True)
df

,EmpId,Date,CmpxId,Dish_11,Dish_12,Dish_13,Dish_14,Dish_15,Dish_16,Dish_21,...,Dish_23,Dish_24,Dish_25,Dish_26,Dish_31,Dish_32,Dish_33,Dish_34,Dish_35,Dish_36
0,9,2019-03-01,2,0,0,41,67,130,152,0,...,0,10,90,144,0,0,0,4,24,152
1,17,2019-03-01,2,0,0,41,67,130,152,0,...,0,10,90,144,0,0,0,4,24,152
2,28,2019-03-01,1,0,0,41,67,130,152,0,...,0,10,90,144,0,0,0,4,24,152
3,33,2019-03-01,2,0,0,41,67,130,152,0,...,0,10,90,144,0,0,0,4,24,152
4,35,2019-03-01,3,0,0,41,67,130,152,0,...,0,10,90,144,0,0,0,4,24,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79704,409,2020-09-18,1,0,0,47,52,167,171,0,...,0,19,54,109,0,0,0,35,145,164
79705,411,2020-09-18,1,0,0,47,52,167,171,0,...,0,19,54,109,0,0,0,35,145,164
79706,412,2020-09-18,3,0,0,47,52,167,171,0,...,0,19,54,109,0,0,0,35,145,164
79707,418,2020-09-18,2,0,0,47,52,167,171,0,...,0,19,54,109,0,0,0,35,145,164
79708,420,2020-09-18,1,0,0,47,52,167,171,0,...,0,19,54,109,0,0,0,35,145,164

In [23]:
start_time = time.time()
df = bin_encoding(df, depths=depths)
print(time.time() - start_time)

14430.275465011597

In [28]:
df.to_csv('E:\\Data Science\\Datasets\\EatingData\\encoded_data_0410.csv', index=False)